---
import Layout from "../layouts/Layout.astro";
import TopNotice from "../components/TopNotice.astro";
import LandingProductCurationsSection from "../components/LandingProductCurationsSection.astro";
import LandingCategorySection from "../components/LandingCategorySection.astro";
import ProductShortsSection from "../components/ProductShortsSection.astro";
import LandingTempleShortsSection from "../components/LandingTempleShortsSection.astro";
import FaqList from "../components/FaqList.astro";
import SectionHeader from "../components/SectionHeader.astro";
import {
  categories,
  faqs,
  productCurations,
  productShorts,
  siteConfig,
  templeShorts,
  topNotices,
} from "../data/site";
import {
  faqSchema,
  organizationSchema,
  productCurationItemListSchemas,
  websiteSchema,
} from "../utils/seo";

const title = "불교용품은 역시 붓다모아";
const description =
  "불상, 염주, 싱잉볼, 불교굿즈 등 일상 속 신행과 명상에 어울리는 불교용품을 한곳에서 둘러보세요.";
---

<Layout
  title={title}
  description={description}
  pathname="/"
  structuredData={[
    organizationSchema(),
    websiteSchema(),
    ...productCurationItemListSchemas(productCurations),
    faqSchema(),
  ]}
>
  <TopNotice notices={topNotices} />

  <LandingCategorySection categories={categories} storeUrl={siteConfig.storeUrl} />
  <LandingProductCurationsSection curations={productCurations} />
  <ProductShortsSection shorts={productShorts} />
  <LandingTempleShortsSection shorts={templeShorts} />

  <section id="guide-faq">
    <SectionHeader title="붓다모아 이용 안내" />
    <FaqList items={faqs} />
  </section>

</Layout>
